.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    gap: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.invest {
    flex-grow: 2;
    flex-shrink: 2;
}

.f-button {
    padding: 20px 30px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #FFC048;
    border-radius: 20px;
    color: #FFC048;
}

.s-button {
    padding: 20px 30px;
    gap: 10px;
    border-radius: 20px;
    background: #FFC048;
    border: 1px solid #FFC048;
    color: white;
}

.img-header {
    width: 136px;
    height: 10%;
    object-fit: cover;
}

/* _________________________________MAIN_________________________________ */

.main {
    width: 75%;
    margin-left:auto;
    margin-right:auto;
}
.private_equity {
    margin-top:30px;
    margin-bottom:10px;
    font-family: 'Ogg';
    font-style: normal;
    font-weight: 400;
    font-size:3rem;
    line-height: 74px;
    letter-spacing: 0.05em;
    color: #1D2945;
}

.top-text {
    display: flex;
    width: 100%;
    gap:4vw;
}
.top-text__text {
    width: 660px;
    margin-top:20px;
}
.top-text__text h1 {
    margin-top:70px;
    font-family: 'Ogg';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 54px;
    letter-spacing: 0.05em;
}
.top-text__p {
    width: 400px;
    text-align:left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}
.top-text_button {
    padding: 20px 50px;
    gap: 10px;
    width: 210px;
    height: 59px;
    background: #EAB543;
    border-radius: 20px;
    border:none;
    color:white;
}
.top-text__image {
    position: relative;
}
.image {
    width: 100%;
    height: auto;
    padding-top:40px;
    object-fit: cover;
    z-index: 10;
}
.strategy {
    position: absolute;
    left:-225px;
    top:95px;
    font-family: 'Ogg';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 98.5%;
    text-transform: lowercase;
    color: #1D2945;
    opacity: .1;
    transform: rotate(-90deg);
    z-index:-2;
}
/* _________________________________second-paragraph_________________________________ */
.second-paragraph {
    display: flex;
    gap:50px;
    margin-top:80px;
}
.second-paragraph-grid h1 {
    font-size:45px;
    font-weight: 100;
}
.just-paragraph {
    font-size:larger;
    font-weight: 500;
}

.blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:white;
}
.blocks-storage {
    margin-right:2.5rem;
}
.calendar-img_box {
    margin-left:auto;
    margin-right:auto;
    margin-top:18%;
    margin-bottom:10%;
    position: relative;
    width: 50px;
    height: 50px;
    background-color:#a5d2ff;
    border-radius:25px;
    align-items: center;
}
.calendar-img {
    width: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.block-2{
    margin-top:2.5rem;
}
.block-3 {
    margin-top:107px;
}
.block-1, .block-2, .block-3 {
    width: 170px;
    height: 160px;
    background: rgba(30, 144, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 10px 70px 80px -20px rgba(32, 32, 32, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;

    text-align:center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}
.cards_max-width {
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    height: 100px;
}
/*_________________________________Portfolio_________________________________*/

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:3rem;
}
.card {
    display: flex;
    flex-direction: column;
    padding:4vh;
    padding-right: 8vh;
    gap: 20px;
    width: auto;
    height: auto;
    box-shadow: 10px 50px 50px -32px rgba(32, 32, 32, 0.16);
    border-radius: 20px;
}
.status-bar {
    padding: 8px 14px;
    margin-top:5px;
    width: 50px;
    color:white;
    height: auto;
    background: rgba(30, 144, 255, 0.7);
    border-radius: 100px;
    text-align: center;
    padding-top:10px;
}
.card-image {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    gap:50px;
}
.card-image img {
    height: 100px;
}
.card-image p {
    font-size: 28px;
    width: auto;
    margin:0;
}
.name-box {
    padding: 8px 14px;
    margin-top:5px;
    width: 110px;
    color: #1E90FF;
    height: 28px;
    background: rgba(30, 144, 255, 0.05);
    border-radius: 100px;
    text-align: center;
    padding-top:10px;
    line-height: 25px;
}

.cards-grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:8px;
    padding-top:30px;
    border-top:1px solid #94A0B1;
}
.cards-grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
}
.target {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #1D2945;
}
.gray-text {
    color: #62697A;
}
.read-more {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #E6A11F;
}
/* _________________________________footer _________________________________ */
.footer {
    display: grid;
    grid-template-columns: 25% 1fr 1fr;
    margin-top:100px;
}
.footer-text > * {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin-top:10px;
    width: 200px;
}
.footer-img {
    width: 20px;
    height: 20px;
}
.img-box {
    width: 35px;
    height: 35px;
    background-color:#eaf0f7;
    margin-top:10px;
    border-radius: 10px;
    text-align: center;
    line-height: 42px;
}
.img-box-last {
    width: 35px;
    height: 35px;
    background-color:#eaf0f7;
    border-radius:10px;
    margin-top:19px;
    text-align: center;
    line-height: 42px;
    margin-top:16px;
}
.footer-logo {
    display: flex;
    align-items:center;
    width: 30px;
    height: auto;
    margin-right:.5rem;
}

.footer-second_text>* {
    margin-top: 10px;
    display: flex;
}

.twitter {
    margin: auto;
    width: 30%;
    height: auto;
}
/* _________________________________policy_________________________________ */

.policy {
    display: flex;
    justify-content: space-between;
    border-top:1px solid #94A0B1;
    padding-top:30px;
    padding-bottom:30px;
}
.policy > * {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #E6A11F;
}
.development a {
    text-decoration: underline;
}